/* ---------------------------------------------
GENERAL SETTINGS ///////////////////////////////
--------------------------------------------- */
/* /// reset /// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%; /* 10px */
}

/* ---------------------------------------------
VAR SETTINGS ///////////////////////////////////
--------------------------------------------- */
html {
  /* colors */
  --color-primary-light: #000;
  --color-primary-base: #000;
  --color-primary-low: #000;
  
  --color-success-light: #04D361;
  --color-success-base: #1B873F;
  --color-success-low: #051B0D;
  
  --color-danger-light: #F75A68;
  --color-danger-base: #CC2937;
  --color-danger-low: #2D090C;
  
  --color-warning-light: #FBA94C;
  --color-warning-base: #EB8A1D;
  --color-warning-low: #2E1B06;
  
  --color-white: #FFF;
  --color-black: #000;
  --color-gray-100: #E1E1E6; /* text-title */
  --color-gray-200: #C4C4CC; /* text-base */
  --color-gray-300: #8D8D99; /* text-support */
  --color-gray-400: #7C7C8A; /* placeholder */
  --color-gray-500: #505059; /* inputs-icons */
  --color-gray-600: #323238; /* shape-tertiary */
  --color-gray-700: #29292E; /* shape-secondary */
  --color-gray-800: #202024; /* shape-primary */
  --color-gray-900: #121214; /* color-background */

  /* typography */
  /*font shorthand: style variant weight size/line-height family*/
  --font-heading-sm: ; 
  --font-heading-md: ;
  --font-heading-lg: ;
  --font-heading-xl: ;
  --font-heading-xxl: ;

  --font-text-xs: ;
  --font-text-sm: ;
  --font-text-md: normal normal normal 1.6rem/2.4rem Arial, sans-serif;
  --font-text-lg: ;

  /* spaces */
  --space-4px: .4rem;
  --space-8px: .8rem;
  --space-12px: 1.2rem;
  --space-16px: 1.6rem;
  --space-24px: 2.4rem;
  --space-32px: 3.2rem;
  --space-40px: 4rem;

  /* grid */
  --grid-max-width: 121.6rem;

  /* transitions */
  --transition-buttons: 100ms;
  --transition-inputs: 100ms;
  
  /* animations */
}

/* ---------------------------------------------
GLOBAL /////////////////////////////////////////
--------------------------------------------- */
/* /// global /// */
html, body, input, textarea, button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

body {
  font-size: var(--font-text-md);
  background: var(--color-gray-900);
  color: var(--color-gray-200);
}

.grid-container {
  max-width: var(--grid-max-width);
}

/* ---------------------------------------------
HEADER /////////////////////////////////////////
--------------------------------------------- */
/* /// containers /// */


/* ---------------------------------------------
SECTION: X /////////////////////////////////////
--------------------------------------------- */
/* /// containers /// */


/* ---------------------------------------------
USER INTERACTIONS //////////////////////////////
--------------------------------------------- */
/* scroll */
html {
  scroll-behavior: smooth;
}

/* selection */
::selection {
  background-color: ;
  color: ;
}

/* links */
/* unvisited link */
a:link {
  color: ;
}
/* visited link */
a:visited {
  color: ;
}
/* mouse over link */
a:hover {
  color: ;
}
/* selected link */
a:active {
  color: ;
}

/* input feedbacks */
input:focus,
textarea:focus,
select:focus {
  outline: ;
  border: X px solid transparent;
  transition: var(--transition-inputs);
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.validation {
  position: absolute;
  top: 105%;
  left: 1%;
  opacity: 0;
  font-size: 12px;
  color: var(--color-danger-base);
  transition: opacity;
}

input:required:valid {
  border: 1.5px solid var(--color-success-light);
}

/* input:not([value=""]):not(:focus):invalid */
input:required:invalid:not(:placeholder-shown) {
  border: 1.5px solid var(--color-danger-base);
}

input:required:invalid:not(:placeholder-shown) + .validation {
  opacity: 1;
}

/* ---------------------------------------------
RESPONSIVENESS /////////////////////////////////
--------------------------------------------- */
/* /// mobile /// */
@media (max-width: 425px) {

}

/* /// Tablet /// */
@media (min-width: 768px) {

}

/* /// laptop /// */
@media (min-width: 1024px) {

}


/* ---------------------------------------------
ANIMATIONS /////////////////////////////////////
--------------------------------------------- */
/* title animation */
@keyframes nameHere {
  0% {  }
  50% {  }
  100% {  }
}