/* ---------------------------------------------
GENERAL SETTINGS ///////////////////////////////
--------------------------------------------- */
/* /// reset /// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%; /* 10px */
}

/* ---------------------------------------------
VAR SETTINGS ///////////////////////////////////
--------------------------------------------- */
html {
  /* colors */
  --color-primary-base: #42D3FF;
  
  --color-white: #FFF;
  --color-black: #000;
  --color-gray-100: #F8F8FC;
  --color-gray-800: #242424;
  --color-gray-900: #121214;

  /* typography */
  /*font shorthand: style variant weight size/line-height family*/
  --font-heading-xl: normal normal 700 9.6rem/9.6rem 'Roboto', sans-serif;

  /* grid */
  --grid-max-width: 121.6rem;

  /* transitions */
  --transition-buttons: 100ms;
}

/* ---------------------------------------------
GLOBAL /////////////////////////////////////////
--------------------------------------------- */
/* /// global /// */
html, body, input, textarea, button {
  font: var(--font-heading-xl);
}

body {
  font-size: 1.6rem;
  background: var(--color-gray-900);
  color: var(--color-gray-100);
}

.grid-container {
  max-width: var(--grid-max-width);
}

/* ---------------------------------------------
HEADER /////////////////////////////////////////
--------------------------------------------- */
/* /// containers /// */


/* ---------------------------------------------
SECTION: X /////////////////////////////////////
--------------------------------------------- */
/* /// containers /// */


/* ---------------------------------------------
USER INTERACTIONS //////////////////////////////
--------------------------------------------- */
/* untitled */


/* ---------------------------------------------
RESPONSIVENESS /////////////////////////////////
--------------------------------------------- */
/* /// mobile /// */
@media (max-width: 425px) {

}

/* /// Tablet /// */
@media (min-width: 768px) {

}

/* /// laptop /// */
@media (min-width: 1024px) {

}


/* ---------------------------------------------
ANIMATIONS /////////////////////////////////////
--------------------------------------------- */
/* title animation */
@keyframes nameHere {
  0% {  }
  50% {  }
  100% {  }
}