@include responsiveness(device-phone-only) {
  .playlistFooter {
    display: none;
  }
}

@include responsiveness(device-tablet-portrait) {
  .playlistFooter {
    position: fixed;
    bottom: 0;
    z-index: 2;

    height: 13.6rem;
    width: 100%;
    padding-inline: 1.6rem;

    background: $color-primary-base;
    border-top: .2rem solid $color-primary-light;
  }

  .playlistFooter-container {
    width: 100%;
    max-width: $grid-max-width;
    height: 100%;
    margin-inline: auto;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-content: center;

    gap: clamp(8rem, 1vw, 16rem);
  }

  .playlistFooter-child {
    display: flex;
    gap: 1.6rem;
    height: 100%;
    align-items: center;
  }
}