input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  background-color: transparent;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-image: url('../img/icons/inputs-search-cancel-16.svg');
  background-position: center;
  background-repeat: no-repeat;

  transition: $transition-buttons;

  &:hover {
    cursor: pointer;
    background-color: $color-primary-light;
    border-radius: 50%;
  }
}