@include responsiveness(global) {
  .searchControlers-container {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
}

@include responsiveness(device-phone-only) {
  .searchControlers-container {
    width: 100%;
    margin: .8rem 0 1.6rem 0;
  }

  .input-wrapper {
    width: 100%;
  }
}

@include responsiveness(device-tablet-portrait) {
  .searchControlers-container {
    display: none;
  }

  .input-wrapper {
    width: 100%;
  }
}