.button-search {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background-image: url('../img/icons/inputs-search-normal-24.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  cursor: pointer;

  transition: $transition-buttons;

  &:hover {
    background-color: $color-primary-light;
    background-image: url('../img/icons/inputs-search-focus-24.svg');
  }

  &:active {
    background-color: $color-primary-lightest;
  }
}