/* 10px */
@keyframes nameHere {}
@font-face {
  font-family: "SF Pro Text Regular";
  src: url(../fonts/SF-Pro-Text-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text Semibold";
  src: url(../fonts/SF-Pro-Text-Semibold.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display Regular";
  src: url(../fonts/SF-Pro-Display-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display Semibold";
  src: url(../fonts/SF-Pro-Display-Semibold.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display Bold";
  src: url(../fonts/SF-Pro-Display-Bold.otf);
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background: #161122;
  color: #BEBCC2;
}

header {
  background-color: #161122;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

html.mobile header {
  height: 7.2rem;
  width: 100%;
}

html.desktop header {
  height: 9.6rem;
  max-width: 121.6rem;
  margin-inline: auto;
}

.logo {
  width: auto;
  height: clamp(1.6rem, 1% + 2vw, 2.4rem);
}

html.desktop .m-btnLock,
html.mobile .d-btnLock {
  display: none;
}

.d-btnLock, .m-btnLock {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 1.6rem;
  transition: all 400ms;
}

.m-btnLock {
  width: 4rem;
  height: 4rem;
  background-image: url("../img/icon-lock.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.d-btnLock {
  width: 4rem;
  height: 4rem;
  background-image: url("../img/icon-unlock.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.d-btnLock:hover {
  background-color: #30254D;
  background-image: url("../img/icon-lock.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

::-moz-selection {
  background: hsla(48, 100%, 50%, 0.8);
  color: #161122;
}

::selection {
  background: hsla(48, 100%, 50%, 0.8);
  color: #161122;
}

::-moz-selection {
  background: hsla(48, 100%, 50%, 0.8);
  color: #161122;
}

img::-moz-selection {
  background: hsla(48, 100%, 50%, 0.8);
  color: #161122;
}

img::selection {
  background: hsla(48, 100%, 50%, 0.8);
  color: #161122;
}

html {
  scroll-behavior: smooth;
}

html.desktop main {
  margin-inline: auto;
  width: 100%;
  max-width: 126.4rem;
  padding-inline: 2.4rem;
}

.playlist {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 121.6rem;
  margin-inline: auto;
}

html.mobile .playlist {
  padding-inline: 1.6rem;
  flex-direction: column;
}

.d-cover-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 24rem;
  border-radius: 0.8rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

html.mobile .playlistInfo-container {
  flex-direction: column;
  position: static;
  width: 100%;
  padding: 0;
}

.playlistInfo-container {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-top: 8rem;
  padding-left: 10.4rem;
  padding-right: 1.6rem;
}

.playlistInfo-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.playlistData-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.playlistControlers-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

html.desktop .playlistControlers-container {
  margin-top: 27.2rem;
}

.playlistControlers-containerLeft {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

html.mobile .playlistControlers-containerRight {
  visibility: hidden;
}

.playlistControlers-containerRight {
  display: flex;
  gap: 2.4rem;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.visibility-on {
  display: block;
}

.visibility-off {
  display: none;
}

.playlistControlers-play {
  cursor: pointer;
  width: 6.4rem;
  height: 6.4rem;
  background-color: transparent;
  border: none;
  background-image: url(../img/icon-controls-play-64.svg);
  transition: all 400ms;
}

.playlistControlers-pause {
  cursor: pointer;
  width: 6.4rem;
  height: 6.4rem;
  background-color: transparent;
  border: none;
  background-image: url(../img/icon-controls-pause-64.svg);
  transition: all 400ms;
}

.playlistControlers-play:hover,
.playlistControlers-pause:hover {
  filter: drop-shadow(4px 4px 32px rgba(255, 214, 10, 0.4)) drop-shadow(0px 0px 10px rgba(255, 214, 10, 0.4));
}

.playlistControlers-random {
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
  background-color: transparent;
  border: none;
  background-image: url(../img/icon-controls-random-32.svg);
}

input:required:valid {
  border: 1.5px solid #04D361;
}

input:required:invalid:not(:-moz-placeholder-shown) {
  border: 1.5px solid #CC2937;
}

input:required:invalid:not(:placeholder-shown) {
  border: 1.5px solid #CC2937;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0.1rem solid #FFCC00;
  border: none;
  transition: var(--transition-inputs);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  outline: 1px solid #FFCC00;
  -webkit-text-fill-color: #F2F2F3;
  -webkit-box-shadow: 0 0 0px 1000px #201934 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input[type=search]:hover {
  outline: 0.2rem solid #30254D;
}

input[type=search]:focus {
  outline: 0.2rem solid #FFCC00;
  width: 22.4rem;
}

.button-search {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background-image: url(../img/icon-inputs-search-normal-24.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  transition: all 400ms;
}

.button-search:hover {
  background-color: #30254D;
  background-image: url(../img/icon-inputs-search-focus-24.svg);
}

html.mobile .cover {
  width: 100%;
  max-width: 70rem;
  height: 24rem;
  border-radius: 0.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

html.desktop .cover {
  width: 17.6rem;
  height: 17.6rem;
  border-radius: 0.4rem;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

html.mobile .d-cover {
  display: none;
}

html.desktop .d-cover {
  width: 105%;
  height: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../img/img-cover.jpg"), lightgray 50%/cover no-repeat;
  background-position: center;
  filter: blur(15px);
}

.separator-dot-sm {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #7D7986;
  border-radius: 50%;
}

.playlistTitle {
  color: #F2F2F3;
  font-family: "SF Pro Display Bold";
  font-size: 3.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4.1rem; /* 120.588% */
  letter-spacing: 0.374px;
}

.playlistParagraph {
  color: #BEBCC2;
  font-family: "SF Pro Text Regular";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem; /* 133.333% */
  letter-spacing: -0.24px;
}

.playlistLenght,
.playlistDuration {
  color: #BEBCC2;
  font-family: "SF Pro Text Regular";
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.8rem; /* 138.462% */
  letter-spacing: -0.078px;
}/*# sourceMappingURL=styles.css.map */