@keyframes nameHere {}
@font-face {
  font-family: "SF Pro Text Regular";
  src: url(../fonts/SF-Pro-Text-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text Semibold";
  src: url(../fonts/SF-Pro-Text-Semibold.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display Regular";
  src: url(../fonts/SF-Pro-Display-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display Semibold";
  src: url(../fonts/SF-Pro-Display-Semibold.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display Bold";
  src: url(../fonts/SF-Pro-Display-Bold.otf);
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  font-size: 62.5%;
}

body {
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background: #161122;
  color: #BEBCC2;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

::-moz-selection {
  background: hsla(48, 100%, 50%, 0.8);
  color: #161122;
}

::selection {
  background: hsla(48, 100%, 50%, 0.8);
  color: #161122;
}

::-moz-selection {
  background: hsla(48, 100%, 50%, 0.8);
  color: #161122;
}

img::-moz-selection {
  background: hsla(48, 100%, 50%, 0.8);
  color: #161122;
}

img::selection {
  background: hsla(48, 100%, 50%, 0.8);
  color: #161122;
}

html {
  scroll-behavior: smooth;
}

.playlistHeader {
  background-color: #161122;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.playlistInfo-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.playlistData-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.playlistControlers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playlistControlers-containerLeft {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

@media only screen and (max-width: 599px) {
  .playlistHeader {
    height: 7.2rem;
    width: 100%;
  }
  .playlistBody {
    padding-inline: 1.6rem;
    flex-direction: column;
  }
  .playlistInfo-container {
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1.6rem;
  }
  .playlistControlers-containerRight {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .playlistHeader {
    height: 9.6rem;
    max-width: 121.6rem;
    margin-inline: auto;
  }
  .main-container {
    margin-inline: auto;
    width: 100%;
  }
  .playlistCover-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 24rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .playlistContent {
    width: 100%;
    max-width: 128rem;
    margin-inline: auto;
    padding-inline: 3.2rem;
  }
  .playlistInfo-container {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding-top: 8rem;
  }
  .playlistInfo-img-container {
    width: 17.6rem;
  }
  .playlistControlers-container {
    margin-top: 1.6rem;
  }
  .playlistControlers-containerRight {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.playlistControlers-filter {
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  color: #7D7986;
  font-family: "SF Pro Text Semibold";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.8rem; /* 138.462% */
  letter-spacing: -0.078px;
  white-space: nowrap;
  transition: all 400ms;
}

@media only screen and (max-width: 599px) {
  .playlistControlers-filter {
    height: 4.8rem;
    padding: 1.2rem;
    border-radius: 0.8rem;
    border: none;
    background: #201934;
    color: #F2F2F3;
  }
}
@media only screen and (min-width: 600px) {
  .playlistControlers-filter {
    background-color: transparent;
    border: none;
    border-radius: 0.8rem;
    padding: 1.2rem;
    height: 4rem;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: end;
    transition: all 400ms;
  }
  .playlistControlers-filter:hover {
    color: #F2F2F3;
    background-color: #30254D;
  }
  .playlistControlers-filter:active {
    background-color: #403267;
  }
  .playlistControlers-filter.active {
    background-color: #201934;
  }
  .playlistControlers-filter.active:hover {
    background-color: #30254D;
  }
  .playlistControlers-filter.active:active {
    background-color: #403267;
  }
  .playlistControlers-filter::after {
    display: inline-block;
    content: "";
    width: 2rem;
    height: 1.6rem;
    padding-right: 0.4rem;
    background-image: url(../img/icons/CaretDown-normal-16.svg);
    background-repeat: no-repeat;
    background-position: center right;
    transition: background-image 400ms;
  }
  .playlistControlers-filter:hover::after, .playlistControlers-filter.active:hover::after {
    display: inline-block;
    content: "";
    width: 2rem;
    height: 1.6rem;
    padding-right: 0.4rem;
    background-image: url(../img/icons/CaretDown-hover-16.svg);
    background-repeat: no-repeat;
    background-position: center right;
  }
  .playlistControlers-filter.active::after {
    transform: scaleY(-1);
    background-image: url(../img/icons/CaretDown-normal-16.svg);
    background-repeat: no-repeat;
    background-position: center right;
  }
  .playlistControlers-filter.opt1 {
    width: 18.242rem;
  }
  .playlistControlers-filter.opt2 {
    width: 8.405rem;
  }
  .playlistControlers-filter.opt3 {
    width: 9.081rem;
  }
}
.filter-wrapper {
  position: relative;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.filter-nav {
  position: absolute;
  top: -12.5rem;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.2rem;
  background-color: #201934;
  border: 1px solid #30254D;
  border-radius: 0.8rem;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.4);
  transition: all 400ms;
}
.filter-nav.open {
  opacity: 1;
  visibility: visible;
}

.filter-nav-title {
  color: #BEBCC2;
  font-family: "SF Pro Text Semibold";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.8rem; /* 138.462% */
  letter-spacing: -0.078px;
}

.filter-nav-option {
  cursor: pointer;
  list-style: none;
  position: relative;
  font-family: "SF Pro Text Semibold";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.1rem; /* 131.25% */
  letter-spacing: -0.32px;
  color: #BEBCC2;
  width: 20.8rem;
  height: 4rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  transition: all 200ms;
}
.filter-nav-option:hover {
  color: #F2F2F3;
  background-color: #30254D;
}
.filter-nav-option:active {
  background: #403267;
}
.filter-nav-option:hover::after {
  display: inline-block;
  content: "";
  position: absolute;
  right: 0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../img/icons/check-inactive-16.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.filter-nav-option.active {
  color: #F2F2F3;
  background: #403267;
}
.filter-nav-option.active::after {
  display: inline-block;
  content: "";
  position: absolute;
  right: 0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(../img/icons/check-active-16.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 599px) {
  .filter-nav.open {
    top: 5.6rem;
  }
}
@media only screen and (min-width: 600px) {
  .filter-nav.open {
    top: 4.8rem;
  }
}
.playlistControlers-pause {
  cursor: pointer;
  width: 6.4rem;
  height: 6.4rem;
  background-color: transparent;
  border: none;
  background-image: url(../img/icons/controls-pause-normal-64.svg);
  transition: all 400ms;
}
.playlistControlers-pause:hover {
  background-image: url(../img/icons/controls-pause-hover-64.svg);
  filter: drop-shadow(4px 4px 32px rgba(255, 214, 10, 0.4)) drop-shadow(0px 0px 10px rgba(255, 214, 10, 0.4));
}
.playlistControlers-pause:active {
  background-image: url(../img/icons/controls-pause-active-64.svg);
}

body:not(.on-play) .playlistControlers-pause {
  display: none;
}
body.on-play .playlistControlers-pause {
  display: block;
}

.playlistControlers-play {
  cursor: pointer;
  width: 6.4rem;
  height: 6.4rem;
  background-color: transparent;
  border: none;
  background-image: url(../img/icons/controls-play-normal-64.svg);
  background-position: center;
  background-size: cover;
  transition: all 400ms;
}
.playlistControlers-play:hover {
  background-image: url(../img/icons/controls-play-hover-64.svg);
  filter: drop-shadow(4px 4px 32px rgba(255, 214, 10, 0.4)) drop-shadow(0px 0px 10px rgba(255, 214, 10, 0.4));
}
.playlistControlers-play:active {
  background-image: url(../img/icons/controls-play-active-64.svg);
}

body:not(.on-play) .playlistControlers-play {
  display: block;
}
body.on-play .playlistControlers-play {
  display: none;
}

@media only screen and (min-width: 600px) {
  .playlistControlers-random {
    display: none;
  }
}
@media only screen and (max-width: 599px) {
  .playlistControlers-random {
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    background-color: transparent;
    border: none;
    background-image: url(../img/icons/icon-controls-random-normal-32.svg);
    transition: all 400ms;
  }
  .playlistControlers-random.on {
    background-image: url(../img/icons/icon-controls-random-active-32.svg);
    transition: all 400ms;
  }
}
.logo {
  width: auto;
  height: clamp(1.6rem, 1% + 2vw, 2.4rem);
}

.btnLock {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 0;
  transition: all 400ms;
}

@media only screen and (max-width: 599px) {
  .btnLock {
    background-image: url("../img/icons/icon-lock.svg");
    background-position: center;
    background-repeat: no-repeat;
    right: 1.6rem;
  }
}
@media only screen and (min-width: 600px) {
  .btnLock {
    background-image: url("../img/icons/icon-unlock.svg");
    background-position: center;
    background-repeat: no-repeat;
    right: 3.2rem;
  }
  .btnLock:hover {
    background-color: #30254D;
    background-image: url("../img/icons/icon-lock.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .btnLock:active {
    background-color: #403267;
  }
}
@media only screen and (max-width: 599px) {
  .cover {
    width: 100%;
    max-width: 70rem;
    height: 24rem;
    border-radius: 0.8rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .playlistCover {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .cover {
    width: 17.6rem;
    height: 17.6rem;
    border-radius: 0.4rem;
    -o-object-fit: cover;
       object-fit: cover;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
  }
  .playlistCover {
    width: 100%;
    height: 24rem;
    -o-object-fit: cover;
       object-fit: cover;
    background: linear-gradient(180deg, #403267 0%, rgba(0, 0, 0, 0.6) 100%), #403267;
  }
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  outline: 0.2rem solid transparent;
  -webkit-text-fill-color: #F2F2F3;
  -webkit-box-shadow: 0 0 0px 1000px #201934 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover {
  outline: 0.2rem solid #30254D;
  -webkit-text-fill-color: #F2F2F3;
  -webkit-box-shadow: 0 0 0px 1000px #201934 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  outline: 0.2rem solid #FFCC00;
  -webkit-text-fill-color: #F2F2F3;
  -webkit-box-shadow: 0 0 0px 1000px #201934 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:active,
textarea:-webkit-autofill:active,
select:-webkit-autofill:active {
  outline: 0.2rem solid #403267;
  -webkit-text-fill-color: #F2F2F3;
  -webkit-box-shadow: 0 0 0px 1000px #201934 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input:required:valid {
  border: 1.5px solid #04D361;
}

input:required:invalid:not(:-moz-placeholder-shown) {
  border: 1.5px solid #CC2937;
}

input:required:invalid:not(:placeholder-shown) {
  border: 1.5px solid #CC2937;
}

.input-search {
  background-color: #201934;
  color: #F2F2F3;
  font-family: "SF Pro Text Regular";
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.8rem; /* 138.462% */
  letter-spacing: -0.078px;
  padding: 1.2rem 0.8rem 1.2rem 4.4rem;
  border: none;
  border-radius: 0.8rem;
  outline: 0.2rem solid transparent;
  height: 4rem;
  caret-color: #FFCC00;
  transition: all 100ms, width 600ms;
}
.input-search:focus {
  outline: 0.2rem solid #FFCC00;
}

@media only screen and (max-width: 599px) {
  .input-search {
    width: 100%;
    height: 4.8rem;
  }
}
@media only screen and (min-width: 600px) {
  .input-search:not(.open) {
    width: 0;
    padding: 0;
    border: none;
  }
  .input-search.open {
    width: 22.4rem;
    padding-left: 4.4rem;
    transition: all 100ms, width 600ms;
  }
  .input-search:hover {
    outline: 0.2rem solid #30254D;
  }
  .input-search:focus:hover {
    outline: 0.2rem solid #FFDB4D;
  }
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
  background-color: transparent;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-image: url(../img/icon-inputs-search-cancel-16.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
input[type=search]::-webkit-search-cancel-button:hover {
  cursor: pointer;
  background-color: #30254D;
  border-radius: 50%;
}

.searchControlers-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 599px) {
  .searchControlers-container {
    width: 100%;
    margin: 0.8rem 0 1.6rem 0;
  }
  .input-wrapper {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .searchControlers-container {
    display: none;
  }
  .input-wrapper {
    width: 100%;
  }
}
.icon-search {
  position: absolute;
  top: calc((100% - 2.4rem) / 2);
  left: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url(../img/icons/inputs-search-normal-24.svg);
  display: block;
  transition: width 600ms;
}

@media only screen and (min-width: 600px) {
  .icon-search.invisible {
    left: 0.7rem;
    display: none;
  }
}
input[type=search]::-moz-placeholder {
  color: #7D7986;
}
input[type=search]::placeholder {
  color: #7D7986;
}

.button-search {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background-image: url("../img/icon-inputs-search-normal-24.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  transition: all 400ms;
}
.button-search:hover {
  background-color: #30254D;
  background-image: url("../img/icon-inputs-search-focus-24.svg");
}
.button-search:active {
  background-color: #403267;
}

.separator-dot-sm {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #7D7986;
  border-radius: 50%;
}

.playlistDuration {
  color: #BEBCC2;
  font-family: "SF Pro Text Regular";
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.8rem; /* 138.462% */
  letter-spacing: -0.078px;
}

.playlistLenght {
  color: #BEBCC2;
  font-family: "SF Pro Text Regular";
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.8rem; /* 138.462% */
  letter-spacing: -0.078px;
}

.playlistParagraph {
  color: #BEBCC2;
  font-family: "SF Pro Text Regular";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem; /* 133.333% */
  letter-spacing: -0.24px;
}

.playlistTitle {
  color: #F2F2F3;
  font-family: "SF Pro Display Bold";
  font-size: 3.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4.1rem; /* 120.588% */
  letter-spacing: 0.374px;
}/*# sourceMappingURL=styles.css.map */