.playlistControlers-play {
  cursor: pointer;

  width: 6.4rem;
  height: 6.4rem;

  background-color: transparent;
  border: none;
  background-image: url(../img/icons/controls-play-normal-64.svg);
  background-position: center;
  background-size: cover;

  transition: $transition-buttons;

  &:hover {
    background-image: url(../img/icons/controls-play-hover-64.svg);
    filter: $glow-button-slow;
  }

  &:active {
    background-image: url(../img/icons/controls-play-active-64.svg);
  }
}

body {
  &:not(.on-play) .playlistControlers-play {
    display: block;
  }

  &.on-play .playlistControlers-play {
    display: none;
  }
}