@include responsiveness(device-tablet-portrait) {
  .playlistControlers-random {
    display: none;
  }
}

@include responsiveness(device-phone-only) {
  .playlistControlers-random {
    cursor: pointer;
    
    width: 3.2rem;
    height: 3.2rem;

    background-color: transparent;
    border: none;
    background-image: url(../img/icons/icon-controls-random-normal-32.svg);

    transition: $transition-buttons;
    
    &.on {
      background-image: url(../img/icons/icon-controls-random-active-32.svg);

      transition: $transition-buttons;
    }
  }
}