.wrapper {
  max-width: 112rem;
  margin: 3.2rem auto;
  padding: 0 1.6rem;

  display: grid;
  grid-template-columns: 25.6rem 1fr;
  align-items: flex-start;
  gap: 3.2rem;
}

@media (max-width: 768px) {
  :root {
    font-size: 54.68%; /* 14px */
  }
  
  .wrapper {
    grid-template-columns: 1fr;
  }
}
