@include responsiveness(device-phone-only) {
  .cover {
    width: 100%;
    max-width: 70rem;
    height: 24rem;
    border-radius: $radius-md;
    object-fit: cover;
  }
}

@include responsiveness(device-tablet-portrait) {
  .playlistInfo-img-container {
    width: 17.6rem;
  }

  .cover {
    width: 17.6rem;
    height: 17.6rem;
    border-radius: $radius-sm;
    object-fit: cover;
  
    box-shadow: $shadow-cover;
  }
}