header {
  background-color: $color-primary-dark;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

html.mobile header {
  height: 7.2rem;
  width: 100%;
}

html.desktop header {
  height: 9.6rem;
  max-width: $grid-max-width;
  margin-inline: auto;
}

.logo {
  width: auto;
  height: clamp(1.6rem, 1% + 2vw,2.4rem);
}

html.desktop .m-btnLock,
html.mobile .d-btnLock {
  display: none;
}

.d-btnLock, .m-btnLock {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 1.6rem;

  transition: $transition-buttons;
}

.m-btnLock {
  width: 4rem;
  height: 4rem;
  background-image: url('../img/icon-lock.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.d-btnLock {
  width: 4rem;
  height: 4rem;
  background-image: url('../img/icon-unlock.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.d-btnLock:hover {
  background-color: $color-primary-light;

  background-image: url('../img/icon-lock.svg');
  background-position: center;
  background-repeat: no-repeat;
}