$color-primary-lightest: #633BBC;
$color-primary-light: #30254D;
$color-primary-base: #201934;
$color-primary-dark: #161122;

$color-secondary-light: #FFDB4D;
$color-secondary-base: #FFCC00;

$color-success-light: #04D361;
$color-success-base: #1B873F;
$color-success-dark: #051B0D;

$color-danger-light: #F75A68;
$color-danger-base: #CC2937;
$color-danger-dark: #2D090C;

$color-warning-light: #FBA94C;
$color-warning-base: #EB8A1D;
$color-warning-dark: #2E1B06;

$color-gray-100: #F2F2F3;
$color-gray-200: #BEBCC2;
$color-gray-300: #7D7986;