.playlistControlers-play {
  cursor: pointer;

  width: 6.4rem;
  height: 6.4rem;

  background-color: transparent;
  border: none;
  background-image: url(../img/icon-controls-play-64.svg);
  background-position: center;
  background-size: cover;

  transition: $transition-buttons;

  &:hover {
    filter: $glow-button-slow;
  }
}

.playlistControlers-pause {
  cursor: pointer;
  
  width: 6.4rem;
  height: 6.4rem;

  background-color: transparent;
  border: none;
  background-image: url(../img/icon-controls-pause-64.svg);

  transition: $transition-buttons;

  &:hover {
    filter: $glow-button-slow;
  }
}

.playlistControlers-random {
  cursor: pointer;
  
  width: 3.2rem;
  height: 3.2rem;

  background-color: transparent;
  border: none;
  background-image: url(../img/icon-controls-random-32.svg);
}