@include responsiveness(global) {
  .playlistControlers-filter {
    cursor: pointer;
    position: relative;
    z-index: 2;
    
    display: flex;
    align-items: center;
  
    color: $color-gray-300;
    @include bold-footnote;
    white-space: nowrap;
  
    transition: $transition-buttons;
  }
}

@include responsiveness(device-phone-only) {
  .playlistControlers-filter {
    height: 4.8rem;
    padding: 1.2rem;
    border-radius: $radius-md;

    border: none;
    background: $color-primary-base;
    color: $color-gray-100;
  }
}

@include responsiveness(device-tablet-portrait) {
  .playlistControlers-filter {
  background-color: transparent;
  border: none;
  border-radius: $radius-md;
  padding: 1.2rem;
  height: 4rem;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: end;

  transition: $transition-buttons;

    &:hover {
      color: $color-gray-100;
      background-color: $color-primary-light;
    }

    &:active {
      background-color: $color-primary-lightest;
    }

    &.active {
      background-color: $color-primary-base;
    }

    &.active:hover {
      background-color: $color-primary-light;
    }

    &.active:active {
      background-color: $color-primary-lightest;
    }

    &::after {
      display: inline-block;
      content: '';
    
      width: 2rem;
      height: 1.6rem;
      padding-right: .4rem;
    
      background-image: url(../img/icons/CaretDown-normal-16.svg);
      background-repeat: no-repeat;
      background-position: center right;
      transition: background-image 400ms;
    }

    &:hover::after, &.active:hover::after {
      display: inline-block;
      content: '';
    
      width: 2rem;
      height: 1.6rem;
      padding-right: .4rem;
    
      background-image: url(../img/icons/CaretDown-hover-16.svg);
      background-repeat: no-repeat;
      background-position: center right;
    }

    &.active::after  {
      transform: scaleY(-1);
  
      background-image: url(../img/icons/CaretDown-normal-16.svg);
      background-repeat: no-repeat;
      background-position: center right;
    }
  }
}