input[type="search"] {
  background-color: $color-primary-base;
  color: $color-gray-100;
  @include regular-footnote;
  padding: 1.2rem .8rem 1.2rem calc(1.2rem + $icon-size-md + .8rem);
  border: none;
  border-radius: $radius-md;
  outline: transparent;
  height: 4rem;
  
  caret-color: $color-secondary-base;

  transition: $transition-inputs, $transition-inputs-search;
  
  &.search-close {
    width: 0;
    padding: 0;
    outline: none;
    border: none;
  }

  &.search-open {
    width: 22.4rem;
  }

  &:hover {
    outline: .2rem solid $color-primary-light;
  }
  
  &:focus {
    outline: .2rem solid $color-secondary-base;
    width: 22.4rem;
  }
}