::selection
{
  background: hsla(48, 100%, 50%, 0.8);
  color: $color-primary-dark;
}

::-moz-selection
{
  background: hsla(48, 100%, 50%, 0.8);
  color: $color-primary-dark;
}

img::selection
{
  background: hsla(48, 100%, 50%, 0.8);
  color: $color-primary-dark;
}