@include responsiveness(global) {
  .track-controler-play {
    cursor: pointer;

    width: 1.6rem;
    height: 1.6rem;

    background: none;
    border: none;
    background-image: url('../img/icons/controls-play-focus-16.svg');
  
    transition: $transition-buttons;
  }

  .playlist-track:not(:hover) .track-controler-play,
  .playlist-track.on-play .track-controler-play
  {
    display: none;
    transition: $transition-buttons;
  }
}