@include responsiveness(global) {
  .btnLock {
    cursor: pointer;
    
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 0;
  
    transition: $transition-buttons;
  }
}

@include responsiveness(device-phone-only) {
  .btnLock {
    background-image: url('../img/icons/icon-lock.svg');
    background-position: center;
    background-repeat: no-repeat;
    right: 1.6rem;
  }
}

@include responsiveness(device-tablet-portrait) {
  .btnLock {
    background-image: url('../img/icons/icon-unlock.svg');
    background-position: center;
    background-repeat: no-repeat;
    right: 3.2rem;

    &:hover {
      background-color: $color-primary-light;
  
      background-image: url('../img/icons/icon-lock.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    &:active {
      background-color: $color-primary-lightest;
    }
  }
}