/* ---------------------------------------------
SETTINGS ///////////////////////////////////////
--------------------------------------------- */
/* /// global /// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%; /* 10px */
}

html, body, input, button {
  font-family: 'Mulish', sans-serif;
}

body {
  font-size: 1.6rem;
  color: var(--color-base-gray-200);
}

/* /// colors /// */
html {
  --color-brand-primary-normal: #065E7C;
  --color-brand-primary-light: #F4FCFF;

  --color-base-white: #FFF;
  --color-base-gray-000: #585858;
  --color-base-gray-100: #202024;
  --color-base-gray-200: #121214;
  --color-base-black: #000;
}

/* ---------------------------------------------
HEADER /////////////////////////////////////////
--------------------------------------------- */
/* /// containers /// */
.app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
  background: var(--color-brand-primary-normal);
}

.container {
  width: 100vw;
  max-width: 122rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}

header, footer {
  padding: 1.6rem 2.4rem;
}

/* /// search /// */
header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

input[type="search"] {
  width: 100%;
  height: 4rem;
  padding: 1.2rem .4rem 1.2rem 3.4rem;
  border: none;
  border-radius: 4px;
  background: #ffffff30;

  color: var(--color-base-white);
  font-size: 1.6rem;

  /* magnifier icon */
  background-repeat: no-repeat;
  background-position: left 16px top 50%;

  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8414 12.6051L10.7121 9.47638C11.6191 8.38745 12.0714 6.99075 11.9748 5.57684C11.8783 4.16293 11.2404 2.84067 10.1938 1.88512C9.14718 0.929563 7.77247 0.414292 6.35563 0.446491C4.9388 0.478691 3.58892 1.05588 2.5868 2.058C1.58469 3.06011 1.0075 4.40999 0.9753 5.82682C0.9431 7.24366 1.45837 8.61837 2.41392 9.66497C3.36948 10.7116 4.69174 11.3495 6.10565 11.446C7.51956 11.5426 8.91626 11.0903 10.0052 10.1833L13.1339 13.3126C13.1804 13.3591 13.2355 13.3959 13.2962 13.4211C13.3569 13.4462 13.422 13.4592 13.4877 13.4592C13.5534 13.4592 13.6184 13.4462 13.6791 13.4211C13.7398 13.3959 13.795 13.3591 13.8414 13.3126C13.8879 13.2662 13.9247 13.211 13.9499 13.1503C13.975 13.0896 13.988 13.0246 13.988 12.9589C13.988 12.8932 13.975 12.8281 13.9499 12.7674C13.9247 12.7067 13.8879 12.6516 13.8414 12.6051ZM1.98769 5.95888C1.98769 5.06887 2.25161 4.19884 2.74608 3.45882C3.24054 2.7188 3.94335 2.14202 4.76562 1.80142C5.58788 1.46083 6.49268 1.37172 7.3656 1.54535C8.23851 1.71898 9.04034 2.14757 9.66967 2.7769C10.299 3.40624 10.7276 4.20806 10.9012 5.08098C11.0749 5.95389 10.9857 6.85869 10.6452 7.68096C10.3046 8.50323 9.72778 9.20603 8.98776 9.7005C8.24774 10.195 7.37771 10.4589 6.48769 10.4589C5.29462 10.4576 4.1508 9.98303 3.30717 9.1394C2.46355 8.29578 1.98901 7.15195 1.98769 5.95888Z' fill='%23F4FCFF'/%3E%3C/svg%3E%0A");
}

input[type="search"]:focus {
  /* magnifier icon */
  background-repeat: no-repeat;
  background-position: left 16px top 50%;

  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8414 12.6051L10.7121 9.47638C11.6191 8.38745 12.0714 6.99075 11.9748 5.57684C11.8783 4.16293 11.2404 2.84067 10.1938 1.88512C9.14718 0.929563 7.77247 0.414292 6.35563 0.446491C4.9388 0.478691 3.58892 1.05588 2.5868 2.058C1.58469 3.06011 1.0075 4.40999 0.9753 5.82682C0.9431 7.24366 1.45837 8.61837 2.41392 9.66497C3.36948 10.7116 4.69174 11.3495 6.10565 11.446C7.51956 11.5426 8.91626 11.0903 10.0052 10.1833L13.1339 13.3126C13.1804 13.3591 13.2355 13.3959 13.2962 13.4211C13.3569 13.4462 13.422 13.4592 13.4877 13.4592C13.5534 13.4592 13.6184 13.4462 13.6791 13.4211C13.7398 13.3959 13.795 13.3591 13.8414 13.3126C13.8879 13.2662 13.9247 13.211 13.9499 13.1503C13.975 13.0896 13.988 13.0246 13.988 12.9589C13.988 12.8932 13.975 12.8281 13.9499 12.7674C13.9247 12.7067 13.8879 12.6516 13.8414 12.6051ZM1.98769 5.95888C1.98769 5.06887 2.25161 4.19884 2.74608 3.45882C3.24054 2.7188 3.94335 2.14202 4.76562 1.80142C5.58788 1.46083 6.49268 1.37172 7.3656 1.54535C8.23851 1.71898 9.04034 2.14757 9.66967 2.7769C10.299 3.40624 10.7276 4.20806 10.9012 5.08098C11.0749 5.95389 10.9857 6.85869 10.6452 7.68096C10.3046 8.50323 9.72778 9.20603 8.98776 9.7005C8.24774 10.195 7.37771 10.4589 6.48769 10.4589C5.29462 10.4576 4.1508 9.98303 3.30717 9.1394C2.46355 8.29578 1.98901 7.15195 1.98769 5.95888Z' fill='%23F4FCFF'/%3E%3C/svg%3E%0A");
}

input[type="search"]::-webkit-search-cancel-button {
  position:relative; 
  -webkit-appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  transition: all .2s;
  
  /* cancel search icon */
  background-repeat: no-repeat;
  background-position: top 50%;

  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0935 7.09069L9.44662 8.73694L11.0935 10.3832C11.14 10.4296 11.1768 10.4848 11.2019 10.5455C11.2271 10.6062 11.24 10.6712 11.24 10.7369C11.24 10.8026 11.2271 10.8677 11.2019 10.9284C11.1768 10.9891 11.14 11.0442 11.0935 11.0907C11.047 11.1371 10.9919 11.174 10.9312 11.1991C10.8705 11.2243 10.8054 11.2372 10.7397 11.2372C10.6741 11.2372 10.609 11.2243 10.5483 11.1991C10.4876 11.174 10.4325 11.1371 10.386 11.0907L8.73975 9.44381L7.0935 11.0907C7.04704 11.1371 6.99189 11.174 6.9312 11.1991C6.8705 11.2243 6.80545 11.2372 6.73975 11.2372C6.67405 11.2372 6.609 11.2243 6.5483 11.1991C6.4876 11.174 6.43245 11.1371 6.386 11.0907C6.33954 11.0442 6.30269 10.9891 6.27755 10.9284C6.25241 10.8677 6.23947 10.8026 6.23947 10.7369C6.23947 10.6712 6.25241 10.6062 6.27755 10.5455C6.30269 10.4848 6.33954 10.4296 6.386 10.3832L8.03287 8.73694L6.386 7.09069C6.29218 6.99687 6.23947 6.86962 6.23947 6.73694C6.23947 6.60426 6.29218 6.47701 6.386 6.38319C6.47982 6.28937 6.60707 6.23666 6.73975 6.23666C6.87243 6.23666 6.99968 6.28937 7.0935 6.38319L8.73975 8.03006L10.386 6.38319C10.4325 6.33673 10.4876 6.29988 10.5483 6.27474C10.609 6.2496 10.6741 6.23666 10.7397 6.23666C10.8054 6.23666 10.8705 6.2496 10.9312 6.27474C10.9919 6.29988 11.047 6.33673 11.0935 6.38319C11.14 6.42964 11.1768 6.48479 11.2019 6.54549C11.2271 6.60619 11.24 6.67124 11.24 6.73694C11.24 6.80264 11.2271 6.86769 11.2019 6.92839C11.1768 6.98908 11.14 7.04423 11.0935 7.09069ZM15.2397 8.73694C15.2397 10.0225 14.8585 11.2792 14.1443 12.3481C13.4301 13.4171 12.4149 14.2502 11.2272 14.7422C10.0395 15.2341 8.73254 15.3628 7.47166 15.112C6.21079 14.8612 5.0526 14.2422 4.14355 13.3331C3.23451 12.4241 2.61545 11.2659 2.36464 10.005C2.11384 8.74415 2.24256 7.43722 2.73453 6.2495C3.2265 5.06178 4.05962 4.04662 5.12854 3.33239C6.19746 2.61816 7.45417 2.23694 8.73975 2.23694C10.4631 2.23876 12.1153 2.92416 13.3339 4.14275C14.5525 5.36135 15.2379 7.01359 15.2397 8.73694ZM14.2397 8.73694C14.2397 7.64914 13.9172 6.58577 13.3128 5.6813C12.7085 4.77683 11.8495 4.07188 10.8445 3.6556C9.83951 3.23932 8.73365 3.1304 7.66675 3.34262C6.59986 3.55484 5.61985 4.07866 4.85066 4.84785C4.08147 5.61704 3.55765 6.59705 3.34543 7.66394C3.13321 8.73084 3.24213 9.8367 3.65841 10.8417C4.07469 11.8467 4.77964 12.7057 5.68411 13.31C6.58858 13.9144 7.65195 14.2369 8.73975 14.2369C10.1979 14.2353 11.5959 13.6553 12.627 12.6242C13.6581 11.5931 14.2381 10.1951 14.2397 8.73694Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
}

input[type="search"]::-webkit-search-cancel-button:hover {
    background-repeat: no-repeat;
    background-position: top 50%;

    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0935 7.09069L9.44662 8.73694L11.0935 10.3832C11.14 10.4296 11.1768 10.4848 11.2019 10.5455C11.2271 10.6062 11.24 10.6712 11.24 10.7369C11.24 10.8026 11.2271 10.8677 11.2019 10.9284C11.1768 10.9891 11.14 11.0442 11.0935 11.0907C11.047 11.1371 10.9919 11.174 10.9312 11.1991C10.8705 11.2243 10.8054 11.2372 10.7397 11.2372C10.6741 11.2372 10.609 11.2243 10.5483 11.1991C10.4876 11.174 10.4325 11.1371 10.386 11.0907L8.73975 9.44381L7.0935 11.0907C7.04704 11.1371 6.99189 11.174 6.9312 11.1991C6.8705 11.2243 6.80545 11.2372 6.73975 11.2372C6.67405 11.2372 6.609 11.2243 6.5483 11.1991C6.4876 11.174 6.43245 11.1371 6.386 11.0907C6.33954 11.0442 6.30269 10.9891 6.27755 10.9284C6.25241 10.8677 6.23947 10.8026 6.23947 10.7369C6.23947 10.6712 6.25241 10.6062 6.27755 10.5455C6.30269 10.4848 6.33954 10.4296 6.386 10.3832L8.03287 8.73694L6.386 7.09069C6.29218 6.99687 6.23947 6.86962 6.23947 6.73694C6.23947 6.60426 6.29218 6.47701 6.386 6.38319C6.47982 6.28937 6.60707 6.23666 6.73975 6.23666C6.87243 6.23666 6.99968 6.28937 7.0935 6.38319L8.73975 8.03006L10.386 6.38319C10.4325 6.33673 10.4876 6.29988 10.5483 6.27474C10.609 6.2496 10.6741 6.23666 10.7397 6.23666C10.8054 6.23666 10.8705 6.2496 10.9312 6.27474C10.9919 6.29988 11.047 6.33673 11.0935 6.38319C11.14 6.42964 11.1768 6.48479 11.2019 6.54549C11.2271 6.60619 11.24 6.67124 11.24 6.73694C11.24 6.80264 11.2271 6.86769 11.2019 6.92839C11.1768 6.98908 11.14 7.04423 11.0935 7.09069ZM15.2397 8.73694C15.2397 10.0225 14.8585 11.2792 14.1443 12.3481C13.4301 13.4171 12.4149 14.2502 11.2272 14.7422C10.0395 15.2341 8.73254 15.3628 7.47166 15.112C6.21079 14.8612 5.0526 14.2422 4.14355 13.3331C3.23451 12.4241 2.61545 11.2659 2.36464 10.005C2.11384 8.74415 2.24256 7.43722 2.73453 6.2495C3.2265 5.06178 4.05962 4.04662 5.12854 3.33239C6.19746 2.61816 7.45417 2.23694 8.73975 2.23694C10.4631 2.23876 12.1153 2.92416 13.3339 4.14275C14.5525 5.36135 15.2379 7.01359 15.2397 8.73694ZM14.2397 8.73694C14.2397 7.64914 13.9172 6.58577 13.3128 5.6813C12.7085 4.77683 11.8495 4.07188 10.8445 3.6556C9.83951 3.23932 8.73365 3.1304 7.66675 3.34262C6.59986 3.55484 5.61985 4.07866 4.85066 4.84785C4.08147 5.61704 3.55765 6.59705 3.34543 7.66394C3.13321 8.73084 3.24213 9.8367 3.65841 10.8417C4.07469 11.8467 4.77964 12.7057 5.68411 13.31C6.58858 13.9144 7.65195 14.2369 8.73975 14.2369C10.1979 14.2353 11.5959 13.6553 12.627 12.6242C13.6581 11.5931 14.2381 10.1951 14.2397 8.73694Z' fill='white' /%3E%3C/svg%3E%0A");
}

.input-wrapper input::placeholder {
  color: var(--color-brand-primary-light);
  opacity: 0.55;
}

/* /// avatar /// */
.avatar, .logo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

/* ---------------------------------------------
MAIN ///////////////////////////////////////////
--------------------------------------------- */
/* /// container /// */
main {
  overflow-y: scroll;
  background: var(--color-brand-primary-light);
}

main > div {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-bottom: 4rem;

  background: var(--color-brand-primary-light);
}

section h1,
section p,
.interaction,
aside {
  padding-inline: 2.4rem;
}

/* ---------------------------------------------
SECTION ////////////////////////////////////////
--------------------------------------------- */
/* /// imagem /// */
section > img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
  display: block;
  margin-bottom: 3.2rem;
}

/* /// title and interactions /// */
h1 {
  color: var(--color-brand-primary-normal);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
}

.interaction {
  margin: 1.6rem 0 3.2rem;
}

.interaction button {
  height: 4rem;
  width: 4rem;
  border: 2px solid var(--color-brand-primary-normal);
  border-radius: 50%;
  background: var(--color-base-white);

  transition: .2s;
}

.interaction button:nth-child(2) {
  margin-left: 1.2rem;
  transform: rotate(180deg) scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
}

.interaction button:hover {
  cursor: pointer;
  border: 4px solid var(--color-brand-primary-normal);
}

section p {
  line-height: 2.56rem;
}

/* ---------------------------------------------
ASIDE //////////////////////////////////////////
--------------------------------------------- */
.cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  margin-top: 1.6rem;
  color: var(--color-base-gray-000);
}

aside h2 {
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 3.84rem;
  color: var(--color-brand-primary-normal);
}

.item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
  overflow: hidden;
  
  background: var(--color-base-white);
  padding-bottom: 2.4rem;
  border-radius: .6rem;
  border: 1px solid #58585820;
  filter: drop-shadow(0 0 4px #58585820);
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.02);
}

.item figcaption h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.88rem;
  color: var(--color-base-gray-100);
}

.item figcaption p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.24rem;
  margin: .8rem 0 1.6rem;
}

.item figcaption a {
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--color-brand-primary-normal);
}

.item figcaption a:hover {
  text-decoration: underline;
}

.item figcaption h3,
.item figcaption p,
.item figcaption a {
  padding-inline: 1.6rem;
}


/* ---------------------------------------------
FOOTER /////////////////////////////////////////
--------------------------------------------- */
/* /// container /// */
footer {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
  color: var(--color-base-white);
  
  background: var(--color-brand-primary-normal);
}

/* ---------------------------------------------
RESPONSIVENESS /////////////////////////////////
--------------------------------------------- */
/* /// Mobile L /// */
@media (min-width: 425px) {
  .item {
    grid-template-columns: 1fr 2fr;
  }

  .item img {
    grid-column: 1/2;
  }
  
  .item figcaption {
    grid-column: 2/3;
  }
}

/* /// Tablet /// */
@media (min-width: 768px) {
  header, footer, 
  main > div {
    padding-inline: 8rem;
  }

  aside {
    padding: 0;
  }
  main > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;

    padding-top: 4rem;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  section > img {
    border-radius: .6rem;
    margin: 0;
  }

  .title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
  }

  section h1,
  section p {
    padding: 0;
  }

  .interaction {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  /* aside grid */
  .item {
    grid-template-columns: 1fr;
  }

  .item img {
    grid-column: 1/2;
  }
  
  .item figcaption {
    grid-column: 1/2;
  }
}