.tooltip {
  position: relative;
  display: inline-block;

  &:hover .tooltipText {
    visibility: visible;
  }
}

.tooltipText {
  visibility: hidden;
  position: absolute;
  right: -2.4rem;
  top: -4.8rem;
  z-index: 2;
  
  padding: 1.2rem;
  background-color: $color-primary-base;
  border: .1rem solid $color-primary-light;
  border-radius: $radius-md; 
  
  color: $color-gray-100;
  @include regular-caption1;
  white-space:nowrap;
  text-align: center;

  box-shadow: $shadow-bottom;
}
